@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f3f4f6;
  @apply antialiased transition-colors duration-300;
}

.dark body {
  background-color: #111827;
}

.dark {
    color: #f3f4f6;
}